<h2>{{ slice.config.choices.customer_logos.non-repeat.eyebrow_headline }}</h2>

<button>Call to action</button>

<a href="/">Call to action link</a>


hi this is customer logos
hi this is customer logos
hi this is customer logos
