---
layout: default
---


<section class="home-foods">
  <img src="{{ '/images/pizza.jpg' | relative_url }}" alt=""/>
  <img src="{{ '/images/pasta.jpg' | relative_url }}" alt=""/>
  <img src="{{ '/images/panini.jpg' | relative_url }}" alt=""/>
</section>

<main class="home-content">
  {{ content }}
</main>
