@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --blue-light: hsl(240, 50%, 96%); 
  --blue: hsl(240, 24%, 35%);
  --blue-dark: hsl(240, 35%, 21%);
  --red-light: hsl(335, 60%, 96%);
  --red: hsl(335, 42%, 58%);
  --red-dark: hsl(335, 56%, 23%);
  --cool-light: hsl(240, 12%, 92%);
  --cool: hsl(240, 7%, 35%);
  --cool-dark: hsl(240, 11%, 18%);

  --serif: 'Libre Baskerville', serif;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cool-light);
  color: var(--cool-dark);
  font-family: var(--serif);
  font-size: 1rem;
  line-height: 1.5;
}

a {
  color: var(--red);
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: var(--red-dark);
}


h1, h2, h3 {
  color: var(--blue);
}

h1 {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

ul {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

li {
  margin-bottom: .5rem;
}

p {
  margin-bottom: 1.5rem;
}

pre {
  margin-bottom: 1.5rem;
}

img {
  width: 100%;
}

.site-header {
  border-top: .25rem var(--red) solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.antonios-face {
  width: 100%;
  max-width: 150px;
  padding: 1rem;
}

.site-navbar {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}

.site-footer {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.home-title {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.home-content {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.home-foods {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  border-top: .5rem solid var(--red);
  border-bottom: .5rem solid var(--red);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.home-foods > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.page-content {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.page-header {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.post-featured-image {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.post-header {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.post-content {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.the-error-pages-content {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.the-error-pages-header {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 1rem;
}
